<!--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html>

<!-- Head -->
<head>

	<title>Index</title>

	<!-- Meta-Tags -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="keywords" content="Collective UI Kit Responsive, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design" />
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- //Meta-Tags -->

	<!-- Custom-Stylesheet-Links -->
		<link rel="stylesheet" href="css/style.css" 														type="text/css" media="all">
		<link rel="stylesheet" href="css/clndr.css" 														type="text/css" media="all">
		<link rel="stylesheet" href="css/acornmediaplayer.base.css" 										type="text/css" media="all">
		<link rel="stylesheet" href="acornmediaplayer/acorn.access.css" 									type="text/css" media="all">
		<link rel="stylesheet" href="css/audio.css" 														type="text/css" media="all">
		<link rel="stylesheet" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" 		type="text/css" media="all">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" 	type="text/css" media="all">
	<!-- //Custom-Stylesheet-Links -->

	<!-- Web-Fonts -->
		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Raleway:400,500,600,700,800" 		type="text/css" media="all">
		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,600,700" 			type="text/css" media="all">
		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,900,700,500,300,100" 	type="text/css" media="all">
	<!-- //Web-Fonts -->

	<!-- Time-JavaScript -->
		<script>
			function startTime() {
				var today = new Date();
				var h = today.getHours();
				var m = today.getMinutes();
				var s = today.getSeconds();
				m = checkTime(m);
				s = checkTime(s);
				document.getElementById('txt').innerHTML = h + ":" + m + ":" + s;
				var t = setTimeout(startTime, 500);
			}
			function checkTime(i) {
				if (i < 10) {i = "0" + i};
				return i;
			}
		</script>
	<!-- //Time-JavaScript -->

	<!-- Chart -->
		<script src="js/Chart.js"></script>
	<!-- //Chart -->

</head>
<!-- //Head -->



	<!-- Body -->
	<body onload="startTime()">
		<h1>{{title}}</h1>
		<p>{{text}}
		</p>

		<!-- Wrap -->
		<div class="wrap">

			<!-- Slider -->
			<div class="slider">

				<ul class="rslides" id="slider">
					<li>
						<img src="images/img1.jpg">
					</li>
					<li>
						<img src="images/img2.jpg">
					</li>
					<li>
						<img src="images/img3.jpg">
					</li>
					<li>
						<img src="images/img4.jpg">
					</li>
					<li>
						<img src="images/img5.jpg">
					</li>
				</ul>

			</div>
			<!-- //Slider -->



			<!-- Navbar -->
			<nav>
				<ul>
					<li>
						<div class="item-container" style="width:120%">
							<div class="item-top aits">Home</div>
							<div class="item-bottom w3l">Home</div>
						</div>
					</li>
					<li>
						

						<div class="item-container " style="width:120%" >
							<form action="/weather">
							<div class="item-top aits">Meteorology</div>
							<div class="item-bottom w3l">
								<button type="submit" id="btn" style="background-color:black text:black">Meteorology</button>
								
							</div>
							</form>
						</div>
						
					</li>
					<li>
						<div class="item-container" style="width:120%">
							<div class="item-top aits">About</div>
							<div class="item-bottom w3l">About</div>
						</div>
						
					</li>
				</ul>
			</nav>
			<!-- //Navbar -->
<script>

	var age = document.getElementsByClassName("item-bottom w3l");
var outro = document.getElementsByClassName("item-top aits");
var ainda = document.getElementsByClassName("item-container");

document.getElementById("btn").disabled = false;
//document.getElementById("btn").style.visibility = "hidden";
document.getElementById("btn").style.backgroundColor=" #3b3b3b";
document.getElementById("btn").style.border="0px";
document.getElementById("btn").style.color="#38b8ff";
document.getElementById("btn").style.fontFamily="glyphicons-halflings-regular.ttf";
document.getElementById("btn").style.fontSize="20px";
						
if(age.value == 'Meteorology'){
	age.onclick = function() {
    console.log('Click just happened')};
};
if(outro.value == 'Meteorology'){
	outro.onclick = function() {
    console.log('Click just happened')};
	
};
if(ainda.value == 'Meteorology'){
	ainda.onclick = function() {
    console.log('Click just happened')};
};


	</script>


			<!-- Vertical-Grids -->
			<div class="vertical-grids">

				<!-- Vertical-Grid-1 -->
				<div class="vertical-grid-1">

					<!-- File-Upload-Widget -->
					<div class="upload">
						<div class="upload-form w3layouts">
							
								<div>
									
 					<form action="/weather">
 						<p>Escreve a morada</p>
        					 <input type="text" name="local" placeholder="260 Broadway, New York City, NY">
         						<button type="submit">Envia!</button> 
       				 </form>
         		 </div>
		 	 </div>
		  </div>
					<!-- //File-Upload-Widget -->



					<!-- Calender-Widget -->
					<div class="calender">

						<div class="cal1">
							<div class="clndr">

								<table class="clndr-table" border="0" cellspacing="0" cellpadding="0">

									<thead>
										<tr class="header-days">
											<td class="header-day">S</td>
											<td class="header-day">M</td>
											<td class="header-day">T</td>
											<td class="header-day">W</td>
											<td class="header-day">T</td>
											<td class="header-day">F</td>
											<td class="header-day">S</td>
										</tr>
									</thead>

									<tbody>

										<tr>
											<td class="day past agileits w3layouts calendar-day-2015-11-01">
												<div class="day-contents aits w3l">01</div>
											</td>
											<td class="day past agileits w3layouts calendar-day-2015-11-02">
												<div class="day-contents aits w3l">02</div>
											</td>
											<td class="day past agileits w3layouts calendar-day-2015-11-03">
												<div class="day-contents aits w3l">03</div>
											</td>
											<td class="day past agileits w3layouts calendar-day-2015-11-04">
												<div class="day-contents aits w3l">04</div>
											</td>
											<td class="day past agileits w3layouts calendar-day-2015-11-05">
												<div class="day-contents aits w3l">05</div>
											</td>
											<td class="day past agileits w3layouts calendar-day-2015-11-06">
												<div class="day-contents aits w3l">06</div>
											</td>
											<td class="day past agileits w3layouts calendar-day-2015-11-07">
												<div class="day-contents aits w3l">07</div>
											</td>
										</tr>

										<tr>
											<td class="day past agileits w3layouts calendar-day-2015-11-08">
												<div class="day-contents aits w3l">08</div>
											</td>
											<td class="day past agileits w3layouts calendar-day-2015-11-09">
												<div class="day-contents aits w3l">09</div>
											</td>
											<td class="day past agileits w3layouts calendar-day-2015-11-10">
												<div class="day-contents aits w3l">10</div>
											</td>
											<td class="day past agileits w3layouts calendar-day-2015-11-11">
												<div class="day-contents aits w3l">11</div>
											</td>
											<td class="day past agileits w3layouts calendar-day-2015-11-12">
												<div class="day-contents aits w3l">12</div>
											</td>
											<td class="day past agileits w3layouts calendar-day-2015-11-13">
												<div class="day-contents aits w3l">13</div>
											</td>
											<td class="day past agileits w3layouts calendar-day-2015-11-14">
												<div class="day-contents aits w3l">14</div>
											</td>
										</tr>

										<tr>
											<td class="day past agileits w3layouts calendar-day-2015-11-05">
												<div class="day-contents aits w3l">15</div>
											</td>
											<td class="day past agileits w3layouts calendar-day-2015-11-16">
												<div class="day-contents aits w3l">16</div>
											</td>
											<td class="day past agileits w3layouts calendar-day-2015-11-17">
												<div class="day-contents aits w3l">17</div>
											</td>
											<td class="day past agileits w3layouts calendar-day-2015-11-18">
												<div class="day-contents aits w3l">18</div>
											</td>
											<td class="day past agileits w3layouts calendar-day-2015-11-19">
												<div class="day-contents aits w3l">19</div>
											</td>
											<td class="day past agileits w3layouts calendar-day-2015-11-20">
												<div class="day-contents aits w3l">20</div>
											</td>
											<td class="day today agileits w3layouts calendar-day-2015-11-21">
												<div class="day-contents aits w3l">21</div>
											</td>
										</tr>

										<tr>
											<td class="day agileits w3layouts calendar-day-2015-11-22">
												<div class="day-contents aits w3l">22</div>
											</td>
											<td class="day agileits w3layouts calendar-day-2015-11-23">
												<div class="day-contents aits w3l">23</div>
											</td>
											<td class="day agileits w3layouts calendar-day-2015-11-24">
												<div class="day-contents aits w3l">24</div>
											</td>
											<td class="day agileits w3layouts calendar-day-2015-11-25">
												<div class="day-contents aits w3l">25</div>
											</td>
											<td class="day agileits w3layouts calendar-day-2015-11-26">
												<div class="day-contents aits w3l">26</div>
											</td>
											<td class="day agileits w3layouts calendar-day-2015-11-27">
												<div class="day-contents aits w3l">27</div>
											</td>
											<td class="day agileits w3layouts calendar-day-2015-11-28">
												<div class="day-contents aits w3l">28</div>
											</td>
										</tr>

										<tr>
											<td class="day agileits w3layouts calendar-day-2015-11-29">
												<div class="day-contents aits w3l">29</div>
											</td>
											<td class="day agileits w3layouts calendar-day-2015-11-30">
												<div class="day-contents aits w3l">30</div>
											</td>
											<td class="day agileits w3layouts adjacent-month next-month calendar-day-2015-12-01">
												<div class="day-contents aits w3l">01</div>
											</td>
											<td class="day agileits w3layouts adjacent-month next-month calendar-day-2015-12-02">
												<div class="day-contents aits w3l">02</div>
											</td>
											<td class="day agileits w3layouts adjacent-month next-month calendar-day-2015-12-03">
												<div class="day-contents aits w3l">03</div>
											</td>
											<td class="day agileits w3layouts adjacent-month next-month calendar-day-2015-12-04">
												<div class="day-contents aits w3l">04</div>
											</td>
											<td class="day agileits w3layouts adjacent-month next-month calendar-day-2015-12-05">
												<div class="day-contents aits w3l">05</div>
											</td>
										</tr>

									</tbody>

								</table>

							</div>
						</div>
					</div>
					<!-- //Calender-Widget -->


				</div>
				<!-- //Vertical-Grid-1 -->



				<!-- Vertical-Grid-2 -->
				<div class="vertical-grid-2">

					<!-- Current-Weather-Widget -->
					<div class="weather-widget">
						<div class="place">

							<div class="city">
								  <p>{{texto7}}</p>
							</div>

							<div class="dmy">
								<script type="text/javascript">
								var mydate=new Date()
								var year=mydate.getYear()
								if(year<1000)
								year+=1900
								var day=mydate.getDay()
								var month=mydate.getMonth()
								var daym=mydate.getDate()
								if(daym<10)
								daym="0"+daym
								var dayarray=new Array("Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday")
								var montharray=new Array("January","February","March","April","May","June","July","August","September","October","November","December")
								document.write(""+dayarray[day]+", "+montharray[month]+" "+daym+", "+year+"")
								</script>
							</div>

							<div id="txt"></div>

						</div>



						<div class="weather-bottom">
							<ul>
								<li class="bg agileits w3layouts"><h4>FRI</h4>
									<figure class="icons agileits w3layouts">
										<canvas id="snow" width="40" height="40"></canvas>
									</figure>
									<h5>27°C</h5>
									<h6>17°C</h6>
								</li>
								<li><h4>SAT</h4>
									<figure class="icons agileits w3layouts">
										<canvas id="partly-cloudy-day" width="40" height="40"></canvas>
									</figure>
									<h5>20°C</h5>
									<h6>15°C</h6>
								</li>
								<li class="bg agileits w3layouts"><h4>SUN</h4>
									<figure class="icons agileits w3layouts">
										<canvas id="wind" width="40" height="40"></canvas>
									</figure>
									<h5>18°C</h5>
									<h6>12°C</h6>
								</li>
								<li><h4>MON</h4>
									<figure class="icons agileits w3layouts">
										<canvas id="sleet" width="40" height="40"></canvas>
									</figure>
									<h5>17°C</h5>
									<h6>12°C</h6>
								</li>
								<li class="bg agileits w3layouts"><h4>TUE</h4>
									<figure class="icons agileits w3layouts">
										<canvas id="rain" width="40" height="40"></canvas>
									</figure>
									<h5>17°C</h5>
									<h6>10°C</h6>
								</li>
							</ul>
							<div class="clear"> </div>
						</div>
					</div>
					<!-- //Current-Weather-Widget -->


		</div>
		<!-- //Wrap -->



		<!-- Copyright -->
		<div class="copyright agileits w3layouts">
			<p> &copy; 2016 Collective UI Kit. All Rights Reserved | Design by <a href="http://w3layouts.com/" target="_blank"> W3layouts </a></p>
		</div>
		<!-- //Copyright -->



		<!-- Custom-JavaScript-File-Links -->

			<!-- Default-JavaScript --> <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>

			<!-- Slider-JavaScript -->
				<script src="js/responsiveslides.min.js"></script>
				<script>
					$(function () {
						$("#slider, #slider2").responsiveSlides({
							auto: true,
							nav: true,
							speed: 1500,
							namespace: "callbacks",
							pager: true,
						});
					});
				</script>
			<!-- //Slider-JavaScript -->


			<!-- File-Upload-Widget-JavaScript -->
				<!-- JavaScript-Includes -->
				<script src="js/jquery.knob.js"></script>
				<!-- JavaScript Includes -->

				<!-- jQuery-File-Upload-Dependencies -->
				<script src="js/jquery.ui.widget.js"></script>
				<script src="js/jquery.iframe-transport.js"></script>
				<script src="js/jquery.fileupload.js"></script>
				<!-- //jQuery-File-Upload-Dependencies -->

				<!-- Main JavaScript file -->
					<script src="js/script.js"></script>
				<!-- Main JavaScript file -->
			<!-- //File-Upload-Widget-JavaScript -->

			<!-- Weather-Widget-JavaScript -->
				<script src="js/skycons.js"></script>
				<script>
					var icons = new Skycons({"color": "#FFD700"}),
					list  = [
						"clear-day"
					],
					i;
					for(i = list.length; i--; )
					icons.set(list[i], list[i]);
					icons.play();
				</script>
				<script>
					var icons = new Skycons({"color": "#f5f5f5"}),
					list = [
						"clear-night", "partly-cloudy-day",	"partly-cloudy-night", "cloudy", "rain", "sleet", "snow", "wind", "fog"
					],
					i;
					for(i = list.length; i--; )
					icons.set(list[i], list[i]);
					icons.play();
				</script>
			<!--//Weather-Widget-JavaScript -->

		
			<!-- Calender-JavaScript -->
				<script src="js/underscore-min.js"></script>
				<script src= "js/moment-2.2.1.js"></script>
				<script src="js/clndr.js"></script>
				<script src="js/site.js"></script>
			<!-- //Calender-JavaScript -->

			<!-- Slide-To-Top JavaScript -->
				<script type="text/javascript">
					$(document).ready(function() {
						var defaults = {
							containerID: 'toTop',
							containerHoverID: 'toTopHover',
							scrollSpeed: 100,
							easingType: 'linear',
						};
						$().UItoTop({ easingType: 'easeOutQuart' });
					});
				</script>
				<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 0;"> </span></a>
			<!-- //Slide-To-Top JavaScript -->

			<!-- Smooth-Scrolling-JavaScript -->
				<script type="text/javascript" src="js/move-top.js"></script>
				<script type="text/javascript" src="js/easing.js"></script>
				<script type="text/javascript">
						jQuery(document).ready(function($) {
							$(".scroll, .navbar li a, .footer li a").click(function(event){
								$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
							});
						});
				</script>
			<!-- //Smooth-Scrolling-JavaScript -->

		<!-- //Custom-JavaScript-File-Links -->

	

       
    </body>
    <footer>
        Copyright Isabel Gonçalves and Mariana Braga - 2018 <!-- esta frase vai ficar em todas as paginas -->
    </footer>

</html>