<!DOCTYPE html>
<html>
    <head>
        <meta charset="uf8">
        <title>no title</title>
    </head>
    <body>
        <h1>{{title}}</h1>
        <p>
           {{text}}
        </p>
    </body>
    <footer>
        Copyright Mariana Braga - 2018 <!-- esta frase vai ficar em todas as paginas -->
    </footer>

</html>